
.CartContainer {
    top:80px;
    right:10%;
    width:325px;
}
.forHeight {
    max-height:628px;
    padding:10px;
    width:325px;
}

.CartModalOverlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  
}
.BGOverlay {
  background: rgba(57, 55, 72, 0.22);
  position: fixed;
  inset: 0;
  z-index: 50;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  top:80px;
}

.CartModalContainer {
  width:325px;
  max-height:628px;
  background-color: red;
  overflow-y: auto;
  position:absolute;
  right: 100px;
}

.CartPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.CartContent {
  flex: 1;
  overflow-y: auto;
}