.NavContainer {
    max-width:1440px;
    height: 80px;
    margin: 0 auto;
    padding: 23px 100px 17px 100px;
}
.CategoryLink {
    height: 73px;
}
.Logo {
    width: 31px;
    height: 31px;
}
.CartBtn {
    width:20px;
    height:20px;
}