.ProductsInnerContainer {
    max-width: 1280px;
}
.MainImageInner {
    height:478px;
    width:575px;
}
.MainImageInnerImg {
    height:478px;
    width:auto;
    margin:0 auto;
}
.galleryImg {
    height:80px;
}